extends ../../_main
block meta
	title Tutorials
	meta(name='description', content='Some tutorials I wrote to help people with things')
block content
	.article-card
		h2.article-title Tutorials
		ul.article-text.list-disc.list-inside
			li: a.t-link(href='/tutorials/2021/03/caddy-express-reverse-proxy/' ) Install &amp; Configure Caddy as an Express.js reverse proxy