//- Meta tags
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no, maximum-scale=1')
meta(name='keywords' content='joshua,moore,developer,software,programmer,josh,tycrek,portfolio,personal,website')
meta(name='author' content='Josh Moore (tycrek)')

//- Page info
block meta
	title Josh Moore - Software developer
	meta(name='description' content='Personal website of Josh Moore')

//- Links
link(rel='stylesheet' href='/css' type='text/css')
script(src='https://kit.fontawesome.com/f2f926ac2d.js' crossorigin='anonymous')
