mixin char(letter)
	h1.title-char(onclick='window.location="/";' title='Go home')= letter

.h-24.lg_h-32.flex.justify-center.content-center
	+char('j')
	+char('m')
	+char('o')
	+char('o')
	+char('r')
	+char('e')
	+char('.')
	+char('d')
	+char('e')
	+char('v')