doctype html
html(lang='en')
	head: include includes/head
	body.base-theme.pb-8
		include components/header
		.flex.justify-center
			.px-8.flex.justify-center.items-center.lg_items-start.flex-col.lg_flex-row(class='lg_w-3/4 2xl_w-2/3')
				.sticky.top-8.article-card.mb-8.lg_mb-0.h-auto.lg_h-nav.max-w-min.lg_order-last.lg_ml-8
					h2.article-title Links
					ul.article-text.list-disc.list-inside.whitespace-nowrap
						li: a.t-link(href='https://tycrek.com/' target='_blank') Contact me
						li: a.t-link(href='https://old.jmoore.dev/' target='_blank') Old site
						li: a.t-link(href='/tutorials') Tutorials
						li: a.t-link(href='/custom-totem') Custom Totem
				.flex-grow.flex.justify-center.flex-wrap
					block content
	script.
		hljs.highlightAll();
	style: include ../apps/highlightjs/dracula.css