doctype html
html(lang='en')
	head: include includes/head
	body.base-theme.pb-8
		include components/header
		.flex.justify-center
			.w-screen.px-8.flex.justify-center.flex-wrap(class='md_w-2/3')
				block content
