extends ../../../../../_main
block meta
	- const title = 'Install & Configure Caddy as an Express.js reverse proxy';
	title= title
	meta(name='description', content='The easiest way to set up Caddy as a reverse proxy to an Express.js app')

	// Redirect to old site until I finish migrating
	//meta(http-equiv='Refresh' content="0; url='https://old.jmoore.dev/tutorials/2021/03/caddy-express-reverse-proxy/'")
block content
	.flex.flex-grow.justify-center.lg_flex-wrap.flex-col.lg_flex-row.space-y-8
		.article-card
			h2.article-title Migration in progress
			p.article-text This article is still being migrated to the new site, please #[a.t-link(href='https://old.jmoore.dev/tutorials/2021/03/caddy-express-reverse-proxy/') view the old version] for now.
		.article-card
			h2.article-title= title
		include tutorial