extends ../../_main
block content
	.flex.flex-grow.justify-center.lg_flex-nowrap.flex-col.lg_flex-row.space-8
		.article-card
			h2.article-title.whitespace-nowrap Welcome, tycrek
			p.article-text This is the dashboard.
			button.t-button(onclick='window.location = "/logout"') Logout
		.w-min.article-card.lg_max-w-min
			h2.article-title Upload
			form(method='POST' action='/upload' encType='multipart/form-data')
				input.input-file#file(name='file' type='file')
				br
				input.t-button(type='submit' value='Upload')