extends ../_main
block content
	.space-y-8
		.flex.flex-col.lg_flex-row.flex-grow
			img.inline-flex.flex-none.self-center.lg_self-start2.w-32.h-32.mx-4.rounded-full.mb-8.filter.drop-shadow.hover_scale-105.ease-in-out.transition-all.duration-300(src='https://tycrek.com/images/avatar-red.jpg' alt='Red and white graphic headshot of Josh')
			.article-card.zahtec-gradient2
				h2.article-title Road work ahead!
				p.article-text Welcome to my #[em new &amp; improved] website, which I am still working on. Hold on to your socks. Or else.
				br
				p.article-text My old site is kind of a mess, both the frontend and the backend. This new version is going to be a lot better, utilising some frameworks I've never used before, like #[a.t-link(href='https://postcss.org/' target='_blank') PostCSS] and #[a.t-link(href='https://tailwindcss.com/' target='_blank') TailwindCSS].
		.article-card.zahtec-gradient2
			h2.article-title Source code
			p.article-text This site is open-source. You can find the source code #[a.t-link(href='https://github.com/tycrek/jmoore.dev.2' target='_blank') on GitHub].
