extends ../_main
block content
	.flex.flex-col.md_flex-row.flex-grow
		img.inline-flex.flex-none.self-center.md_self-start2.w-32.h-32.mx-4.rounded-full.mb-8(src='https://tycrek.com/images/avatar-red.jpg' alt='Red and white graphic headshot of Josh')
		.article-card
			h2.article-title Under construction
			p.article-text Welcome to my #[em new &amp; improved] website!
			br
			p.article-text My old site is kind of a mess, both the frontend and the backend. This new version is going to be a lot better, utilising some frameworks I've never used before, like #[a.text-tycrek-cyan(href='https://postcss.org/' target='_blank') PostCSS] and #[a.text-tycrek-cyan(href='https://tailwindcss.com/' target='_blank') TailwindCSS].
	.article-card
		h2.article-title Source code
		p.article-text This site is open-source. You can find the source code #[a.text-tycrek-cyan(href='https://github.com/tycrek/jmoore.dev.2' target='_blank') on GitHub].