extends ../_main
block content
	.article-card
		h2.article-title Welcome
		p.article-text This is my new website. It's a work in progress.
	.article-card
		h2.article-title Source code
		p.article-text This site is open-source. You can find the source code #[a.text-tycrek-cyan(href='https://github.com/tycrek/jmoore.dev.2' target='_blank') on GitHub].