extends ../_main
block content
	.article-card
		h2.article-title Login
		.flex.flex-col.items-center
			.flex.flex-col.lg_flex-row.items-left.items-center
				h3.input-name Password
				input.w-64.lg_w-96.ml-4.input-field#pass(type='password' placeholder='Password')
			.flex.flex-col.lg_flex-row.items-left.items-center
				h3.input-name TOTP code
				input.w-64.lg_w-96.ml-4.input-field#code(type='tel' placeholder='TOTP code')
			button.t-button(onclick='verify()') Login
	
	script.
		function verify() {
			const pass = document.getElementById("pass").value;
			const code = document.getElementById("code").value;
			fetch(`/login/${pass}/${code}`)
				.then((response) => response.json())
				.then(({url}) => window.location = url)
				.catch(console.error);
		}
