extends ../_main
block content
	.article-card
		h2.article-title Login
		.flex.flex-col.items-center
			.flex.flex-col.md_flex-row.items-left.items-center
				h3.text-black.dark_text-gray-100.text-2xl.font-forms Password
				input.w-64.md_w-96.ml-4.input-field-theme#pass(type='password' placeholder='Password')
			.flex.flex-col.md_flex-row.items-left.items-center
				h3.text-black.dark_text-gray-100.text-2xl.font-forms.whitespace-nowrap TOTP code
				input.w-64.md_w-96.ml-4.input-field-theme#code(type='tel' placeholder='TOTP code')
			button.t-button(onclick='verify()') Login
	
	script.
		function verify() {
			const pass = document.getElementById("pass").value;
			const code = document.getElementById("code").value;
			fetch(`/login/${pass}/${code}`)
				.then((response) => response.json())
				.then(({url}) => window.location = url)
				.catch(console.error);
		}
